<!-- navbar.handlebars -->

<nav class="navbar">
  <div class="navbar-left">
    <a href="/" class="navbar-brand">Book Central</a>
  </div>
  <div class="navbar-middle">
    <div>
      <input class = "inputSearchNavBar"type="text" placeholder="Search for books..." name="q">
      <button class="buttonSearchNavBar" type="submit">Search</button>
    </div>
  </div>
  <div class="navbar-right">
    <a href="/">Home</a>
    <a href="/profile">Profile</a>
    <div class="dropdown">
      <button class="dropbtn">Wishlist</button>
      <div class="dropdown-content">
        {{#each wishlist}}
          <a href="#">{{this.title}} - {{this.author}}</a>
        {{/each}}
      </div>
    </div>
    <a href="/cart">Cart</a>
    <a href="/about">About</a>
  </div>
</nav>

<script src="/js/navbar.js"></script> 
