<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fund My Project!</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{!-- Navbar, shown only if user is logged in --}}
  {{#if logged_in}}
    {{!-- Include the navbar partial --}}
    {{> navbar}}
  {{/if}}

  <main class="container container-fluid mt-5">
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>

  {{!-- Wishlist, shown only if user is logged in --}}
  {{#if logged_in}}
    {{> wishlist}}
  {{/if}}

  {{!-- Other scripts, as needed --}}
  <script src="/public/js/navbar.js"></script>
</body>

</html>
