<link rel="stylesheet" href="css/homepagestyle.css">

<div class="bg-img">
  <div class="container">
    <div class="topnav">
      <a href="#home">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
      <div class="search">
        <div class="searchform">
          <label for="title">Book Search</label>
          <input type="text" id="title" name="name">
          <input type="submit" id="submitbtn" value="Submit">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="booklayout">
  <div class="bookForm1">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
        <div class="book-img-container">
          <img class="bookimg" src="book1.jpg" alt="" />
         </div> 
        </div>
        <div class="flip-card-back">
          <button class="w3-button w3-black checkoutBtn">Add to Cart</button>
          <button class="w4-button">Add to Wishlist</button>
        </div>
      </div>
    </div>
  </div>
  <div class="bookForm2">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
         <div class="book-img-container">
          <img class="bookimg" src="book2.jpg" alt="" />
         </div>
        </div>
        <div class="flip-card-back">
          <button class="w3-button w3-black checkoutBtn">Add to Cart</button>
          <button class="w4-button">Add to Wishlist</button>
        </div>
      </div>
    </div>
  </div>
  <div class="bookForm3">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
         <div class="book-img-container"> 
          <img class="bookimg" src="book3.jpg" alt="" />
        </div>
        </div>
        <div class="flip-card-back">
          <button class="w3-button w3-black checkoutBtn">Add to Cart</button>
          <button class="w4-button">Add to Wishlist</button>
        </div>
      </div>
    </div>
  </div>
  <div class="bookForm4">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
         <div class="book-img-container"> 
          <img class="bookimg" src="book4.jpg" alt="" />
         </div> 
        </div>
        <div class="flip-card-back">
          <button class="w3-button w3-black checkoutBtn">Add to Cart</button>
          <button class="w4-button">Add to Wishlist</button>
        </div>
      </div>
    </div>
  </div>
  <div class="bookForm5">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
        <div class="book-img-container">   
          <img class="bookimg" src="book5.jpg" alt="" />
        </div> 
        </div>
        <div class="flip-card-back">
          <button class="w3-button w3-black checkoutBtn">Add to Cart</button>
          <button class="w4-button">Add to Wishlist</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/bookdisplay.js"></script>
