

 <style>
    @import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');
  </style>  
    <div class="background-image">
    <img src= "../public/assets/img/bookshelf_06.png" alt="Bookshelf background">
  </div>
  <div class="container">
    <div class="header">
      <h1>Book Central</h1>
    </div>

    <div class="login">
      <h2>Member's Access</h2>
      <form class ="form login-form">
        <label for="email">email:</label>
        <input type="text" id="email-login" name="username">
        <label for="password">Password:</label>
        <input type="password" id="password-login" name="password">
        <button type="submit">Login</button> 
      </form>
      <p>Don't have an account?<a href="/signup">Sign up</a></p>

    </div>
    <div class="guest">
      <h2>Guest Access</h2>
      <p>Browse our collection of books without logging in:</p>
      <a href="/homepage">Browse Books</a>
    </div>
  
  </div>
  <script src="/js/login.js"></script>

