<style>
  @import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');
</style>
<div class="background-image">
  <img src="/assets/img/bookshelf_06.png" alt="Bookshelf background">
</div>
<div class="container">
  <div class="header">
    <h1>Book Central</h1>
  </div>
  <div class="signup">
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>
<p>Already have an account? <a href="/login">Log in</a></p>
<script src="/js/signup.js"></script>