<style>
    @import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');
  </style>  
    <div class="background-image">
    <img src= "../public/assets/img/bookshelf_06.png" alt="Bookshelf background">
  </div>
  <div class="container">
    <div class="header">
      <h1>Book Central</h1>
    </div>


<div class="signup">
    <h2>Create Account</h2>
    <form action="/signup" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <input type="submit" value="Sign Up">
    </form>
    <p>Already have an account? <a href="./login.handlebars">Log in</a></p>
</div>
