<!-- wishlist.handlebars -->
<link rel="stylesheet" href="/public/css/wishlist.css">
<div class="dropdown">
  <button class="dropbtn">Wishlist</button>
  <div class="dropdown-content">
    {{#if showDropdown}}
      {{#each wishlist}}
        <a href="#">{{this.title}} - {{this.author}}</a>
      {{/each}}
    {{/if}}
  </div>
</div>
<script src="/public/js/wishlist.js"></script>