/* Navbar styles */
.navbar {
  background-color: rgb(205, 205, 205);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.navbar-left .navbar-brand {
  color: #000;
  font-weight: bold;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right a,
.navbar-right .dropdown,
.navbar-right .dropbtn {
  margin-left: 10px;
  font-size: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 10px;
  transition: 0.3s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  font-size: 10px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  transform: scale(1.1);
}
